<html>
<head>
  <title>
    Publicar fecha de examen.
  </title>
  <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}" type='text/css'>
  
</head>  
  <h1>
    <p>Formulario para publicar fecha del examen.<p/>
  </h1>
  <h3>
    <p>Rellene el formulario para publicar la fecha del examen, la fecha se publicara twitter y google caldendar.<p/> 
  </h3>
<body>
  <div>
  <table  BORDER=0  CELLPADDING=10 CELLSPACING=10>
  <tr><td WIDTH=300 VALIGN=TOP>	
  <form action="/publicarfechaexamen" method="POST">
	 Hora incio:<input type="text" name="hinicio">
	 </br>
     Hora Fin:<input type="text" name="hfin">
	 </br>
     Lugar:<input type="text" name="lugar"> 
	   <input type="submit" name="my-form" class="button buttonBlue" value="Publicar twitter & calendar">
     </form></td><td>

    <form action="/tareas" method="POST" style="display:inline">
      <input type="submit" name="my-form" class="button buttonBlue" value="Tareas">		
    </form>
    </td></tr>
  </table>
  </div>
</body>
</html>

