<html>
<head>
  <title>
    Publicar Notas de examen.
  </title>
  <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}" type='text/css'>
   
</head>  
  <h1>
      <p>Formulario para publicar nota de cada alumno.<p/>
  </h1>
  <h3>
      <p>Rellene el formulario para publicar la fecha del examen, se publicara en twitter y google caldendar.<p/> 
  </h3>
<body>
  <div>
  
<table  BORDER=0  CELLPADDING=10 CELLSPACING=10>
    <tr><td WIDTH=300 VALIGN=TOP>	
    <form action="/agregarnotaalumno" method="POST">
	    Alumno:<input type="text" name="alumno">
		 </br>
	    Nota:<input type="text" name="nota">
		</br>
	    Estado:<input type="text" name="estado">
		</br>
	     <input type="submit" name="my-form" class="button buttonBlue" value="Agregar nota del alumno">
    </form>
    <form action="/eliminarnotaalumno" method="POST">	
	 Nombre:<input type="text" name="alumno">
	<input type="submit" name="my-form" class="button buttonBlue" value="Eliminar alumno">
    </form>
    </td><td>
    <form action="/pubnotasexamen" method="POST" style="display:inline">
	 <input type="submit" name="my-form" class="button buttonBlue" value="Publicar Hoja de calculo & twitt" >
    </form>
    <form action="/vernotas" method="POST">
	 <input type="submit" name="my-form" class="button buttonBlue" value="Ver notas">
    </form>	
    <form action="/vernotasgoogle" method="POST">
	 <input type="submit" name="my-form" class="button buttonBlue" value="Ver Hoja de calculo en google">
    </form>
    <form action="/tareas" method="POST" style="display:inline">
	 <input type="submit" name="my-form" class="button buttonBlue" value="Tareas">		
    </form>
    </td></tr>
</table>
	 
  </div>
</body>
</html>
